$primary   : #a60f2d;
$secondary : #4d4d4d;
$accent    : #ca1237;

$dark      : #000000;
$dark-page : #1f1f1f;

$positive  : #aadc24;
$negative  : #C10015;
$info      : #5bc3f5;
$warning   : #f3e700;
