$primary   : #a60f2d;
$secondary : #4d4d4d;
$accent    : #ca1237;

$dark      : #000000;
$dark-page : #1f1f1f;

$bl-70 : #4D4D4D;
$bl-60 : #808080;
$bl-50 : #A6A6A6;
$bl-40 : #CCCCCC;
$bl-30 :  #EBEBEB;

$positive  : #aadc24;
$negative  : #C10015;
$info      : #5bc3f5;
$warning   : #f3e700;
