server:
  port: 9000

spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: capstone
    password: password
  jpa:
    open-in-view: false
    properties:
      hibernate:
        search:
          backend:
            type: lucene
            directory.root: ./middle/spring/data/index